<main class="container">
    <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
        <h2>Appointment</h2>
        <h3>Please provide information</h3>

        <div [ngClass]="isFormValid ? 'valid-form' : 'invalid-form'" >
            Please fill out all the information!
            <ul>
                <li>Only letters are allowed in first and last name</li>
                <li>Zipcode take 5 digits and only numbers</li>
            </ul>
        </div>

        <div class="form-control-group">
            <div class="form-control-row">
                <div class="form-control-item">
                    <label for="firstname">First Name</label>
                    <input 
                        type="text"
                        id="firstname"
                        formControlName="firstname"
                        >
                </div>
                <div class="form-control-item">
                    <label for="lastname">Last Name</label>
                    <input 
                        type="text"
                        id="lastname"
                        formControlName="lastname"
                        >
                </div>
            </div>
            
        </div>
        <button type="submit">Continue</button>
        <div [ngClass]="!isAppointmentFound ? 'apt-found' : 'apt-not-found'">
            Sorry, we could not find an appointment - please review your information
        </div>
    </form>

</main>